body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

.main_head {
  min-height: 620px;
  padding-top: 20px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.logo_container {
  float: left; }

svg {
  height: 60px;
  width: 60px;
  z-index: 100;
  position: relative; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  float: right;
  position: relative;
  z-index: 100;
  border: none; }

.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 34px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s; }

.sw-bottom {
  position: relative;
  width: 34px;
  height: 3px;
  top: 6.6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 34px;
  height: 3px;
  top: 13.5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
  top: 6px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_mnu ul,
  .top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .top_mnu ul {
    margin-top: 180px;
    text-align: center; }
    .top_mnu ul a {
      color: #fff;
      display: block;
      padding: 20px 0;
      text-transform: uppercase;
      font-size: 12px; }
